@import "tailwindcss";

@theme {
  /* La paleta oficial de Padel Nexus */
  --color-padel-1: #121212; /* Fondo principal oscuro */
  --color-padel-2: #2e3f00; /* Verde oliva oscuro */
  --color-padel-3: #1c2308; /* Verde muy oscuro */
  --color-padel-4: #ccff00; /* Neón - Botones y acentos */
  --color-padel-5: #1c1c1c; /* Gris oscuro para tarjetas/inputs */

  /* Tipografía por defecto */
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Un pequeño reseteo global para asegurar que el fondo oscuro aplique a toda la página */
@layer base {
  body {
    @apply bg-padel-1 text-white;
  }
}
